In [1]:
import pandas as pd #importação da biblioteca Pandas (análise dos dados) e a apelidando como pd.

In [3]:
cor = pd.read_csv('cor_raca_ocupacao.csv', delimiter = ';', encoding='latin-1') #lendo a planilha 'cor_raca_ocupacao_pb.csv'
#e salvando na variável cor.

In [4]:
cor.head()

   UF Cor/Raça           Ocupação  Quantitativo Porcentagem (%)  Unnamed: 5
0  PB  Amarela           Advogado             1           33,33         NaN
1  PB  Amarela  Assistente Social             1           33,33         NaN
2  PB  Amarela         Empresário             1           33,33         NaN
3  PB   Branca      Administrador            10            3,48         NaN
4  PB   Branca           Advogado            26            9,06         NaN

In [6]:
cor.drop(['Porcentagem (%)', 'Unnamed: 5', 'UF'], axis=1, inplace=True) #apagando o que eu não quero, axis=1(colunas)

In [7]:
cor.head() #5 primeiras linhas da nova tabela, com as colunas acima excluídas.

  Cor/Raça           Ocupação  Quantitativo
0  Amarela           Advogado             1
1  Amarela  Assistente Social             1
2  Amarela         Empresário             1
3   Branca      Administrador            10
4   Branca           Advogado            26

In [8]:
cor['Cor/Raça'].unique() #me mostre o que tem, sem repetir

array(['Amarela', 'Branca', 'Indígena', 'Parda', 'Preta'], dtype=object)

In [9]:
Amarela = cor.loc[cor['Cor/Raça'] == 'Amarela'] #selecionando apenas cor/raça Amarela

In [10]:
Amarela.sort_values(by = "Quantitativo", ascending = False) #ordenar a coluna Quantitativa em ordem decrescente.

  Cor/Raça           Ocupação  Quantitativo
0  Amarela           Advogado             1
1  Amarela  Assistente Social             1
2  Amarela         Empresário             1

In [12]:
Branca = cor.loc[cor['Cor/Raça'] == 'Branca'] #selecionando apenas cor/raça Branca

In [13]:
Branca.sort_values(by = 'Quantitativo', ascending = False) #ordenando a coluna 'Quantitativa' em ordem decrescente.

   Cor/Raça                                           Ocupação  Quantitativo
37   Branca                                             Outros            35
23   Branca                                         Empresário            29
4    Branca                                           Advogado            26
20   Branca                                           Deputado            23
25   Branca     Estudante, Bolsista, Estagiário e Assemelhados            17
33   Branca                                             Médico            13
16   Branca                                        Comerciante            11
3    Branca                                      Administrador            10
50   Branca                          Servidor Público Estadual            10
41   Branca                                   Policial Militar             8
45   Branca                       Professor de Ensino Superior             7
19   Branca    Corretor de Imóveis, Seguros, Títulos e Valores             6
55   Branca                                           Vereador             6
52   Branca                         Servidor Público Municipal             6
51   Branca                           Servidor Público Federal             5
30   Branca                               Jornalista e Redator             5
7    Branca                                         Agricultor             5
21   Branca                                       Dona de Casa             4
43   Branca                    Professor de Ensino Fundamental             4
24   Branca                                         Engenheiro             4
44   Branca                          Professor de Ensino Médio             4
18   Branca                                           Contador             3
11   Branca                                  Assistente Social             3
13   Branca                             Bancário e Economiário             3
10   Branca               Aposentado (Exceto Servidor Público)             3
42   Branca                              Produtor Agropecuário             3
54   Branca  Vendedor Pracista, Representante, Caixeiro-Via...             3
6    Branca                      Agente de Saúde e Sanitarista             2
49   Branca                  Servidor Público Civil Aposentado             2
5    Branca                              Agente Administrativo             2
53   Branca        Vendedor de Comércio Varejista e Atacadista             1
48   Branca                            Serventuário de Justiça             1
47   Branca    Sacerdote ou Membro de Ordem ou Seita Religiosa             1
46   Branca                                          Psicólogo             1
9    Branca                                        Antropólogo             1
56   Branca                                        Veterinário             1
8    Branca                                           Agrônomo             1
38   Branca                                           Pedagogo             1
40   Branca                                     Policial Civil             1
29   Branca                                            Gerente             1
22   Branca                         Eletricista e Assemelhados             1
15   Branca                                Cantor e Compositor             1
14   Branca                                   Bombeiro Militar             1
26   Branca                                             Fiscal             1
27   Branca             Fisioterapeuta e Terapeuta Ocupacional             1
28   Branca                                           Geógrafo             1
31   Branca  Locutor e Comentarista de Rádio e Televisão e ...             1
39   Branca                                           Pescador             1
32   Branca                             Mecânico de Manutenção             1
12   Branca              Atendente de Lanchonete e Restaurante             1
34   Branca                                  Militar Reformado             1
35   Branca                                            Motoboy             1
36   Branca  Motorista de Veículos de Transporte Coletivo d...             1
17   Branca                                        Comerciário             1
57   Branca                                          Vigilante             1

In [15]:
Parda = cor.loc[cor['Cor/Raça'] == 'Parda'] #selecionando apenas Cor/Raça Parda

In [16]:
Parda.sort_values(by = 'Quantitativo', ascending= False) #ordenando a coluna como mostrado anteriormente para as outras raças.

    Cor/Raça                                           Ocupação  Quantitativo
93     Parda                                             Outros            42
79     Parda                                         Empresário            21
95     Parda                                   Policial Militar            15
75     Parda                                           Deputado            11
108    Parda                          Servidor Público Estadual             6
110    Parda                         Servidor Público Municipal             6
77     Parda                                       Dona de Casa             6
80     Parda     Estudante, Bolsista, Estagiário e Assemelhados             6
99     Parda                          Professor de Ensino Médio             6
115    Parda  Vendedor Pracista, Representante, Caixeiro-Via...             5
116    Parda                                           Vereador             5
72     Parda                                        Comerciante             4
62     Parda                                         Agricultor             4
109    Parda                           Servidor Público Federal             4
86     Parda                                             Médico             4
107    Parda                  Servidor Público Civil Aposentado             3
102    Parda                            Representante Comercial             3
59     Parda                                      Administrador             3
78     Parda                                Empregado Doméstico             3
68     Parda              Auxiliar de Escritório e Assemelhados             3
67     Parda                                  Assistente Social             3
84     Parda  Locutor e Comentarista de Rádio e Televisão e ...             2
114    Parda        Vendedor de Comércio Varejista e Atacadista             2
60     Parda                                           Advogado             2
98     Parda                    Professor de Ensino Fundamental             2
111    Parda  Técnico de Enfermagem e Assemelhados (Exceto E...             2
83     Parda                               Jornalista e Redator             2
69     Parda                             Bancário e Economiário             2
87     Parda                                  Militar Reformado             2
105    Parda                                            Senador             1
106    Parda                                        Serralheiro             1
104    Parda                           Secretário e Datilógrafo             1
103    Parda    Sacerdote ou Membro de Ordem ou Seita Religiosa             1
113    Parda                    Trabalhador de Construção Civil             1
101    Parda                                       Publicitário             1
112    Parda                 Técnico em Agronomia e Agrimensura             1
100    Parda                       Professor de Ensino Superior             1
117    Parda                                        Veterinário             1
89     Parda                               Motorista Particular             1
97     Parda                   Produtor de Espetáculos Públicos             1
74     Parda    Corretor de Imóveis, Seguros, Títulos e Valores             1
61     Parda                      Agente de Saúde e Sanitarista             1
63     Parda                               Analista de Sistemas             1
64     Parda               Aposentado (Exceto Servidor Público)             1
65     Parda                             Arquivista e Museólogo             1
66     Parda                    Artista Plástico e Assemelhados             1
70     Parda                                            Biólogo             1
71     Parda                            Cabeleireiro e Barbeiro             1
73     Parda                                           Contador             1
76     Parda                                Diretor de Empresas             1
96     Parda  Porteiro de Edifício, Ascensorista, Garagista ...             1
81     Parda                                       Farmacêutico             1
82     Parda                                          Faxineiro             1
85     Parda  Marinheiro Civil, Canoeiro, Embarcado e Asseme...             1
88     Parda       Motorista de Veículos de Transporte de Carga             1
90     Parda                       Nutricionista e Assemelhados             1
91     Parda       Operador de Aparelhos de Produção Industrial             1
92     Parda                             Operador de Computador             1
94     Parda                                           Pedagogo             1
118    Parda                                          Vigilante             1

In [17]:
Preta = cor.loc[cor['Cor/Raça'] == 'Preta']

In [18]:
Preta.sort_values(by = 'Quantitativo', ascending = False)

    Cor/Raça                                           Ocupação  Quantitativo
134    Preta                                             Outros             6
138    Preta                       Professor de Ensino Superior             3
136    Preta                    Professor de Ensino Fundamental             3
119    Preta                                      Administrador             2
135    Preta                                   Policial Militar             2
142    Preta  Técnico Contabilidade, Estatística, Economia D...             2
125    Preta                                           Deputado             2
127    Preta                                       Dona de Casa             2
128    Preta     Estudante, Bolsista, Estagiário e Assemelhados             2
137    Preta                          Professor de Ensino Médio             2
120    Preta                                           Advogado             2
144    Preta  Vendedor Pracista, Representante, Caixeiro-Via...             1
143    Preta        Vendedor de Comércio Varejista e Atacadista             1
141    Preta                                            Taxista             1
140    Preta                           Servidor Público Federal             1
139    Preta                          Servidor Público Estadual             1
132    Preta                                             Músico             1
133    Preta                      Ocupante de Cargo em Comissão             1
131    Preta                             Mecânico de Manutenção             1
130    Preta  Locutor e Comentarista de Rádio e Televisão e ...             1
129    Preta                               Jornalista e Redator             1
126    Preta                                        Despachante             1
124    Preta                                         Cozinheiro             1
123    Preta    Corretor de Imóveis, Seguros, Títulos e Valores             1
122    Preta                                      Bibliotecário             1
121    Preta                    Artista Plástico e Assemelhados             1
145    Preta                                           Vereador             1

In [19]:
Indígena = cor.loc[cor['Cor/Raça'] == 'Indígena']

In [20]:
Indígena.sort_values(by = 'Quantitativo', ascending='False')

    Cor/Raça Ocupação  Quantitativo
58  Indígena   Outros             1